{{page-title "BrowseSeries"}}
<div class="flex flex-col justify-center items-center space-y-8">
    {{#each this.model as |series|}}
        <div class="flex flex-col items-start p-4 w-2/3 rounded border-2 border-gray-800 shadow-xl justify-left">
            <div class="flex flex-col space-y-2">
                <div class="text-xl font-bold text-gray-900">{{series.title}}</div>
                <div class="text-gray-800">{{{series.description}}}</div>
            </div>
            <div class="flex flex-col mt-2 space-x-2">
                <div class="mb-2 text-xl tracking-wider text-gray-900 uppercase">Seasons</div>
                <div class="flex flex-wrap p-3 space-x-2">
                    <div class="flex flex-col space-y-3 text-gray-800">
                        <div>Season</div>
                        <div>Episodes</div> 
                    </div>
                    {{#each series.seasons as |season|}}
                        <div class="flex flex-col items-center space-y-3 text-gray-700">
                            <span>|</span>
                            <span>|</span> 
                        </div>
                        <div class="flex flex-col items-center space-y-3 text-gray-800">
                            <div>{{season.number}}</div>
                            <div>{{season.episodes}}</div> 
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
