{{page-title "Home"}}

<form>
    <PowerSelect @options={{this.model}}
                 @selected={{this.pickedSeries}}
                 @onChange={{this.valueChanged}}
                 @searchField="title"
                 @searchEnabled=true
                 as |series|>
        {{series.title}}
    </PowerSelect>
    <button type="button" onClick={{this.shuffle}}>Shuffle Series</button>
</form>

<h1>
{{#if this.randomSeason}}
   Season {{this.randomSeason}} Episode {{this.randomEpisode}}
{{else}}
    Press Shuffle Series
{{/if}}
</h1>

{{outlet}}
