{{page-title "Login"}}
<div class="flex flex-col mt-10 items-center max-width-xl mx-auto">
    <form  {{on "submit" (prevent-default this.authenticate)}}>
        <label for="username" class="block px-1 text-gray-400 self-start">Username</label>
        <input id="username"  class="block p-2 mb-2 rounded-md shadow-xl" type="text" placeholder="Enter Username" value={{this.username}} onchange={{this.updateUsername}}>
        <label for="password" class="block px-1 text-gray-400 self-start ">Password</label>
        <input id="password" class="block p-2 mb-3 rounded-md shadow-xl" type="password" placeholder="Enter Password" value={{this.password}} onchange={{this.updatePassword}}>
        <button class="bg-green-500 hover:bg-green-600 text-white rounded-md p-2 shadow-xl self-end" type="submit">Login</button>
        {{#if this.errorMessage}}
            <p>{{this.errorMessage}}</p>
        {{/if}}
  </form>
</div>
